doctype html
html
    head
        title Home
        link(rel='stylesheet', href='/styles.css')
    body
        .container
            h1 Welcome to Our Movie Review App
            nav
                ul
                    li: a(href='/') Home
                    li: a(href='/movies') Movies
                    li: a(href='/reviews') Reviews
                    li: a(href='/users') UserProfile
                    
            p Share and explore movie reviews from our community.
            h2 Our Features
            ul.list-container 
                li Submit Your Own Reviews
                li Read Community Reviews
                li Browse Movies
            p Feel free to explore our reviews or contact us for more information.