doctype html
html
  head
    title Thank You
    link(rel='stylesheet', href='/styles.css')
  body
    .container
      h1 Thank You!
      p We have received your information and will process it shortly.

      a(href='/') Back to Home